<%= form_for Post.new, :url=>{controller:'posts', action: 'create'},
             :method=>:post ,:remote=>true,
             :html => { :class => "form-horizontal post", :multipart => true},
              authenticity_token: true   do |f| %>

  <%= f.hidden_field :user_id, :value=>current_user.id %>
  <div class="form-group">
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
  </div>
  <div class="form-group">
     <%= f.text_area :content, :class => 'form-control' %>
  </div>
  <div class="form-group">
      <%= f.submit nil, :class => 'btn btn-primary' %>
  </div>

<% end %>
